.error {
    color: red;
    padding: 3px;
    display: none;
}

.input-custom:invalid[focused="true"]~span {
    display: block;
}

#form {
    padding: 0.5em;
}

#form-footer {
    margin: 0.5em 0;
}